@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Buttermilk;
    src: url(./SweetHipster-PzlE.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 20px 0;
}

h1 {
    color: #2563eb;
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: Buttermilk;
}

#list_input {
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 5px;
}

#list_input:focus {
    border-color: #2563eb !important;
    outline: 1px solid #2563eb;
}

i {
    color: red;
}

i:hover {
    cursor: pointer;
}

.use_flex {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 1rem;
    padding: 0.5em;
    width: 70px;
    border-radius: 5px;
    background-color: hsl(221, 83%, 53%);
    color: white;
    text-transform: capitalize;
    border: none;
    text-align: center;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

button:hover {
    cursor: pointer;
    background-color: hsl(221, 83%, 58%);
}

main {
    width: fit-content;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.list-container {
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    /* padding: 10px; */
}

.list-container label {
    font-family: Poppins, sans-serif;
    /* font-family: 4rem; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

footer {
    background-color: #2563eb;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 0.5em;
}

.cut {
    text-decoration: line-through !important;
}

@media screen and (width < 426px) {
    .list-container {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (width < 410px) {
    #list_input {
        width: 80%;
    }
}

